
<div class="ui menu borderless" style="-webkit-transition-duration: 0.1s; margin: 0;">
  <div class="item">
    <%= image_tag 'logo.png' %>
  </div>
  <%= link_to 'Solar Gators', root_path, class: 'item' %>
  <%= link_to 'About us', about_path, class: 'item' %>
  <%= link_to 'Events', events_path, class: 'item' %>
  <%= link_to 'Sponsors', sponsors_path, class: 'item' %>
  <%= link_to team_path, class: 'ui simple dropdown item' do %>
    The Team
    <i class="dropdown icon"></i>
    <div class="menu">
      <div class="item">Auxiliary</div>
      <div class="item">Power Board</div>
      <div class="item">Battery Pack</div>
      <div class="item">Battery Management System</div>
      <div class="item">Strategy</div>
      <div class="item">Telemetry</div>
      <div class="item">Maximum Power Point Tracker</div>
      <div class="item">Battery Box</div>
      <div class="item">Solar Array</div>
      <div class="item">Composites</div>
      <div class="item">Body</div>
      <div class="item">Crush Zone</div>
      <div class="item">Chassis</div>
      <div class="item">Brakes</div>
      <div class="item">Suspension</div>
    </div>
  <% end %>

  <div class="right menu">
    <div class="item">
      <%= link_to contact_path, class: 'ui orange button' do %>
        <i class="envelope open icon"></i>
        Contact
      <% end %>
    </div>
    <div class="item">
      <div class="ui blue button">
        <i class="flag checkered icon"></i>
        Join
      </div>
    </div>
  </div>
</div>
